@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

/* Main */
* {
    -fx-mainColor: #4e75e0;
    -fx-backgroundColor: white;
    -fx-textColor: #4c4f76;
    -fx-paneColor: #eff6ff;

    -fx-font-family: 'Montserrat', sans-serif;
}

.background {
    -fx-background-color: -fx-backgroundColor;
}

.image {
    -fx-image: url(https://i.imgur.com/QKKG3ur.png);
}

.title {
    -fx-font-size: 16pt;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-mainColor;
}

.icon {
    -fx-fill: -fx-mainColor;
}

/* TabPane */
.tab-pane {
    -fx-tab-min-height: 3em;
    -fx-tab-max-height: 3em;
}

.tab .tab-label {
    -fx-background-color: transparent;
    -fx-alignment: CENTER;
    -fx-text-fill: -fx-textColor;
    -fx-font-weight: bold;
    -fx-font-size: 10pt;
}

.tab {
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0;
    -fx-background-color: -fx-paneColor;
}

.tab-pane *.tab-header-background {
    -fx-background-color: transparent;
}

.tab:selected, .tab:selected .tab-label {
    -fx-background-color: -fx-mainColor;
    -fx-text-fill: -fx-backgroundColor;
    -fx-font-weight: bold;
}

.tab {
    -fx-padding: 0 57 0 57;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em 0.166667em 0.0em 0.0em;
}

.tab:selected .focus-indicator, .tab:focused {
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
}

/* Table */
.table-view, .table-view:focused, .table-view .column-header-background, .table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header-background .label {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-textColor;
    -fx-font-weight: normal;
}

.table-view .table-cell {
    -fx-text-fill: -fx-mainColor;
    -fx-alignment: center;
}

.table-row-cell, .table-row-cell:odd {
    -fx-background-color: -fx-backgroundColor;
    -fx-table-cell-border-color: transparent;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:selected {
    -fx-background-color: -fx-backgroundColor;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

/* Scroll Bar */
.increment-button, .decrement-button, .scroll-bar:horizontal, .scroll-bar:vertical, .scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track, .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
    -fx-background-color: transparent;
    -fx-background-radius: 5em;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

/* Title Bar */
.hBox, .buttonIcon {
    -fx-pref-height: 32;
    -fx-min-height: 32;
    -fx-max-height: 32;
}

.buttonIcon {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-cursor: hand;
}

.buttonIcon:hover {
    -fx-background-color: -fx-paneColor;
}